<template name="postForm">
  <div class="posts">
    <div class="post">
      <div class="post-content">
        <form class="form-inline">
          <h3 class="blue-text">Add post:</h3>
          <div class="form-group">
            <input type="text" name="title" placeholder="Title">
          </div>

          <div class="form-group">
            <input type="text" name="url" placeholder="URL">
          </div>

          <button type="submit" class="btn btn-sm btn-default">Add Post</button>
        </form>
      </div>
    </div>
  </div>

</template>